.themebg {
    background-image: url('/images/web/theme/theme_bg.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-top: 66px;
    background-color: rgb(216, 232, 255);
    height: 335px;
}

.themeplan {
    margin: 20px;
}

.themeplan-text {
    font-size: 14px;
}

.themeplan-price {
    color: red;
    font-size: 20px;
}