.townbg {
    background-image: url('/images/web/town/townbg.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-top: 66px;
    background-color: rgb(242, 216, 155);
    height: 335px;
}

.towncenter {
    margin-top: 30px;
    margin-left: 75px;
    margin-right: 70px;
}

.product-box-padding{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
}