<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
    <!--<setting name="cacheEnabled" value="true"/>-->
    <!--&lt;!&ndash; 全局启用或禁用延迟加载。当禁用时, 所有关联对象都会即时加载 &ndash;&gt;-->
    <!--<setting name="lazyLoadingEnabled" value="false"/>-->
    <!--<setting name="aggressiveLazyLoading" value="true"/>-->
    <!--&lt;!&ndash; 允许或不允许多种结果集从一个单独 的语句中返回(需要适合的驱动) &ndash;&gt;-->
    <!--<setting name="multipleResultSetsEnabled" value="true"/>-->
    <!--&lt;!&ndash; 使用列标签代替列名。 不同的驱动在这 方便表现不同。 参考驱动文档或充分测 试两种方法来决定所使用的驱动 &ndash;&gt;-->
    <!--<setting name="useColumnLabel" value="true"/>-->
    <!--&lt;!&ndash; 允许 JDBC 支持生成的键。 需要适合的 驱动。 如果设置为 true 则这个设置强制 生成的键被使用, 尽管一些驱动拒绝兼 容但仍然有效(比如-->
    <!--Derby) &ndash;&gt;-->
    <!--<setting name="useGeneratedKeys" value="false"/>-->
    <!--&lt;!&ndash; 配置默认的执行器。SIMPLE 执行器没 有什么特别之处。REUSE 执行器重用 预处理语句。BATCH 执行器重用语句 和批量更新 &ndash;&gt;-->
    <!--<setting name="defaultExecutorType" value="SIMPLE"/>-->
    <!--&lt;!&ndash; 设置超时时间, 它决定驱动等待一个数 据库响应的时间 &ndash;&gt;-->
    <!--<setting name="defaultStatementTimeout" value="100"/>-->
    <!--<setting name="safeRowBoundsEnabled" value="false"/>-->
    <!--<setting name="mapUnderscoreToCamelCase" value="false"/>-->
    <!--<setting name="localCacheScope" value="SESSION"/>-->
    <!--<setting name="jdbcTypeForNull" value="OTHER"/>-->
    <!--<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>-->

    <settings>
        <!-- 全局映射器启用缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 查询时，关闭关联对象即时加载以提高性能 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 设置关联对象加载的形态，此处为按需加载字段(加载字段由SQL指定)，不会加载关联表的所有字段，以提高性能 -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 对于未知的SQL查询，允许返回不同的结果集以达到通用的效果 -->
        <setting name="multipleResultSetsEnabled" value="true"/>
        <!-- 允许使用列标签代替列名 -->
        <setting name="useColumnLabel" value="true"/>
        <!-- 允许使用自定义的主键值(比如由程序生成的UUID 32位编码作为键值)，数据表的PK生成策略将被覆盖 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 给予被嵌套的resultMap以字段-属性的映射支持 -->
        <setting name="autoMappingBehavior" value="FULL"/>
        <!-- 对于批量更新操作缓存SQL以提高性能  -->
        <setting name="defaultExecutorType" value="BATCH"/>
        <!-- 数据库超过25000秒仍未响应则超时 -->
        <setting name="defaultStatementTimeout" value="25000"/>
    </settings>

    <!--<settings>-->
    <!--&lt;!&ndash; 这个配置使全局的映射器启用或禁用缓存 &ndash;&gt;-->
    <!--<setting name="cacheEnabled" value="true" />-->
    <!--&lt;!&ndash; 对于未知的SQL查询，允许返回不同的结果集以达到通用的效果 &ndash;&gt;-->
    <!--<setting name="multipleResultSetsEnabled" value="true"/>-->
    <!--&lt;!&ndash; 配置默认的执行器。SIMPLE 执行器没有什么特别之处。REUSE 执行器重用预处理语句。BATCH 执行器重用语句和批量更新 &ndash;&gt;-->
    <!--<setting name="defaultExecutorType" value="REUSE" />-->
    <!--&lt;!&ndash; 全局启用或禁用延迟加载。当禁用时，所有关联对象都会即时加载。 &ndash;&gt;-->
    <!--<setting name="lazyLoadingEnabled" value="false" />-->
    <!--<setting name="aggressiveLazyLoading" value="true" />-->
    <!--&lt;!&ndash; <setting name="enhancementEnabled" value="true"/> &ndash;&gt;-->
    <!--&lt;!&ndash; 设置超时时间，它决定驱动等待一个数据库响应的时间。 &ndash;&gt;-->
    <!--<setting name="defaultStatementTimeout" value="25000" />-->
    <!--</settings>-->
</configuration>