
/*-----------------------------------------------------------------------------------*/
/*	SERVICES TABS
/*-----------------------------------------------------------------------------------*/
.services .etabs {
    padding: 0;
    overflow: inherit;
    width: 80%;
    margin: 0 auto;
}
.services,
.services .etabs {
    text-align: center
}
.services .tab {
    display: inline-block
}
.services .tab a {
    display: block
}
.services .tab .icon {
    display: table;
    margin: 0 auto 15px;
    position: relative;
}
.services .tab .icon i.icn {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #bababa;
    border: 2px solid #bababa;
    line-height: 1;
    font-size: 35px;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.services .tab:hover .icon i.icn,
.services .tab.active .icon i.icn {
    color: #fa6c65;
    border: 2px solid #fa6c65;
}
.services .tab h4 {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #bababa;
}
.services .tab:hover h4,
.services .tab.active h4 {
    color: #fa6c65
}
.services .tab h4 {
    margin: 0
}
.services.tabs .panel-container {
    width: 90%;
    margin: 0 auto 30px;
}
.services.tab-container .panel-container p {
    margin: 0;
    padding-bottom: 10px;
}
/*-----------------------------------------------------------------------------------*/
/*	SERVICES ICONS
/*-----------------------------------------------------------------------------------*/
.services .row {
    text-align: left
}
.icon {
    display: table
}
.services .row  .icon {
    float: left;
    margin-right: 20px;
}
.services .row .text {
    overflow: hidden
}
.icon i.icn {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border: 1px solid #fa6c65;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-weight: bold;
    color: #fa6c65;
    line-height: 1;
    font-size: 20px;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.step:hover i.icn {
    background-color: #fa6c65;
    color: #FFF;
}